html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#login-button {
  inline-size: 100px;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #333333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#root, #posts {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}
